.applications-block{
  height: 100%vh;
}

.each-application {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 100px;
  min-height: 20px;
  padding: 5px;
}


#delete_application {
  margin-right: 5%;
  background: transparent;
  border: none;
  border-bottom: none;
}

.each-holder > #delete_application:hover {
  transform: scale(1.25);
}

.each-holder:hover {
  background-color: rgb(235, 240, 197);
}
