.applications-block{
  height: 100%vh;
}

.each-application {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 100px;
  min-height: 20px;
  padding: 5px;
}

.each-application:hover {
  height: 100px;
  transition: all 2s ease 1s;
}
