
.main__container {
	width: 100%;
	display: grid;
	grid-template-columns: 20% 50% 30%;
	grid-template-rows: 50px 1fr;
	grid-template-areas:
		"navbar navbar navbar"
		"labels body extra";
}

.navbar-block {
  grid-area: navbar;
}
.companies-block {
  grid-area: body;
	visibility: hidden;
	width: 25%;
}
.companies-block > * {
	visibility: hidden;
	width: 25%;
}
.applications-block {
  grid-area: body;
	visibility: hidden;
	width: 25%;
}
.applications-block > *{
	visibility: hidden;
	width: 25%;
}
.interviews-block {
  grid-area: body;
	visibility: hidden;
	width: 25%;
}
.interviews-block > * {
	visibility: hidden;
	width: 25%;
}

.show-block-info {
	grid-area: body;
	visibility: visible;
	width: 100%;
	transition: all 2s ease 0s;
}

/* .show-block-info > * > * > * {
	grid-area: body;
	border: 1px solid black;
	visibility: visible;
	width: 100%;
	transition: all 1s ease 0s;
} */
.container-labels{
	grid-area: labels;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.container-labels > *:hover {
	background-color: red;
}


.show-block-info {
	grid-area: body;
  background-color: #f5f5f5;
  width: 600px;
  margin: 0 auto;
  padding: 0;
	height: fit-content;
}
h4 {
  color: #cd0000;
  font-size: 42px;
  letter-spacing: -2px;
  text-align: left;
}
#list {
  color: #555;
  font-size: 22px;
  padding: 0 !important;
  width: 100%;
  font-family: courier, monospace;
  border: 1px solid #dedede;
}

#li {
	width: 100%;
}

#list > * > * {
  list-style: none;
  border-bottom: 1px dotted #ccc;
  text-indent: 25px;
  height: auto;
  padding-bottom: 10px;
  padding-top: 10px;
  text-transform: capitalize;
}

#list > .li:hover {
  background-color: #f0f0f0;
  -webkit-transition: all 0.2s;
  -moz-transition:    all 0.2s;
  -ms-transition:     all 0.2s;
  -o-transition:      all 0.2s;
}
.lines {
  border-left: 1px solid #ffaa9f;
  border-right: 1px solid #ffaa9f;
  width: 2px;
  float: left;
  height: 100%;
  margin-left: 40px;
}

.each-holder{
	display: flex;

}
