body {
	margin-left: 0px;
}
.main__container {
	width: 100%;
	display: grid;
	grid-template-columns: 20% 50% 30%;
	grid-template-rows: 50px 1fr;
	grid-template-areas:
		"navbar navbar navbar"
		"labels body info";
}


.sticky {
	grid-area: info;
	background:#ffc;
  height:12em;
  width:12em;
  padding:3em;
	margin-top: 3em;
	margin-left: 2em;
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
	transform:rotate(4deg);
  position:relative;
  top:5px;
}

.navbar-block {
  grid-area: navbar;
}
.companies-block {
  grid-area: body;
	visibility: hidden;
	width: 25%;
}
.companies-block > * {
	visibility: hidden;
	width: 25%;
}
.applications-block {
  grid-area: body;
	visibility: hidden;
	width: 25%;
}
.applications-block > *{
	visibility: hidden;
	width: 25%;
}
.interviews-block {
  grid-area: body;
	visibility: hidden;
	width: 25%;
}
.interviews-block > * {
	visibility: hidden;
	width: 25%;
}

.show-block-info {
	grid-area: body;
	visibility: visible;
	width: inherit;
	transition: all 2s ease 0s;
}

/* .create_company_form, .create_application_form, .create_interview_form, .edit_interview_form, .edit_application_form { */
	.sticky {
	grid-area: info;
	text-decoration:none;
	color:#000;
  /* background-color:#ffc; */
  display:block;
  height:16em;
  width:16em;
  padding:1em;
	margin-left: 2em;
	margin-top: 3em;
	margin-right: 1em;
	font-weight: 900;
	font-size: 20px;
	box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}

.sticky:hover {
	box-shadow:10px 10px 7px rgba(0,0,0,.7);
  transform: scale(1.25);
  position:relative;
  z-index:5;
}
.container-labels{
	grid-area: labels;
	display: flex;
	flex-direction: row;
	text-orientation: upright;
	writing-mode: vertical-lr;
	height: 100%;
	margin-top: 20%;
}

.container-labels > * {
	font-size: 20px;
	height: auto;
	width: 30px;
	padding: 10px;
	border-bottom-right-radius:0.5em;
	border-top-right-radius: 2em;
	transition: all 1s ease 0s;
	color: white;
	margin-top: 0px;
	margin-bottom: 0px;
	box-shadow:10px 10px 7px rgba(0,0,0,.7);
}
.container-labels > *:hover {
	width: 60px;
	padding-left: 15px;
	transition: all 1s ease 0s;
	justify-content: center;
}

.company-label {
	background-color: blue;
}


.application-label {
	background-color: rgb(46, 194, 83);
}

.interview-label {
	background-color: rgb(0, 217, 255);
}


.show-block-info {
	grid-area: body;
  background-color: #f5f5f5;
  width: inherit;
  margin: 0 auto;
  padding: 0;
	height: fit-content;
}
h4 {
  color: #cd0000;
  font-size: 42px;
  letter-spacing: -2px;
  text-align: left;
}
#list {
  color: #555;
  font-size: 22px;
  padding: 0 !important;
  width: 100%;
  font-family: courier, monospace;
  border-top: 1px solid #dedede;
}

#li {
	width: 99%;
}

#list > * > * {
  list-style: none;
  border-bottom: 1px dotted #ccc;
  text-indent: 25px;
  height: auto;
  padding-bottom: 10px;
  padding-top: 10px;
  text-transform: capitalize;
}

#list > .li:hover {
  background-color: #f0f0f0;
  -webkit-transition: all 0.2s;
  -moz-transition:    all 0.2s;
  -ms-transition:     all 0.2s;
  -o-transition:      all 0.2s;
}
.lines {
  border-left: 1px solid #ffaa9f;
  border-right: 1px solid #ffaa9f;
  width: 2px;
  float: left;
  height: 100%;
  margin-left: 40px;
}

.each-holder{
	display: flex;

}
