@keyframes fadein {
  from {
    opacity: 0%;
    scale: 0;
  }
  to {
    opacity: 100%;
    scale: 1;
  }
}


body {
	margin-left: 0px;
}
.main__container {
	width: 100%;
	display: grid;
	grid-template-columns: 6.5% 58.5% 35%;
	grid-template-rows: 50px 1fr;
	grid-template-areas:
		"navbar navbar navbar"
		"labels body info";
}


.navbar-block {
  grid-area: navbar;
}


#interviews-form, #applications-form, #companies-form {
grid-area: info;

}

.container-labels{
	grid-area: labels;
	display: flex;
	flex-direction: row;
	text-orientation: upright;
	writing-mode: vertical-lr;
	height: 100%;
	margin-top: 10%;
  position: fixed;
  top: 0%;
}

.container-labels > * {
	font-size: 20px;
	height: auto;
	width: 30px;
	padding: 10px;
	border-bottom-right-radius:0.5em;
	border-top-right-radius: 2em;
	transition: all 1s ease 0s;
	color: white;
	margin-top: 0px;
	margin-bottom: 0px;
	box-shadow:10px 10px 7px rgba(0,0,0,.7);
}
.container-labels > *:hover {
	width: 60px;
	padding-left: 15px;
	transition: all 1s ease 0s;
	justify-content: center;
}

.company-label {
	background-color: blue;
}


.application-label {
	background-color: rgb(46, 194, 83);
}

.interview-label {
	background-color: rgb(0, 217, 255);
}

.interviews-block, .companies-block, .applications-block {
	grid-area: body;
  background-color: #f5f5f5;
  width: inherit;
  margin: 0 auto;
  padding: 0;
	height: fit-content;
	animation-duration: 1s;
	animation-name: fadein;
}
h4 {
  color: #cc1414de;
  font-size: 50px;
  letter-spacing: -2px;
  text-align: left;
}
#list {
  color: #555;
  font-size: 22px;
  padding: 0 !important;
  width: 100%;
  font-family: courier, monospace;
  border-top: 1px solid #dedede;
}

#li {
	width: 99%;
}

#list > * > * {
  list-style: none;
  text-indent: 25px;
  height: auto;
  padding-bottom: 10px;
  padding-top: 10px;
  text-transform: capitalize;
}

#list > .li:hover {
  background-color: #f0f0f0;
  -webkit-transition: all 0.2s;
  -moz-transition:    all 0.2s;
  -ms-transition:     all 0.2s;
  -o-transition:      all 0.2s;
}
.lines {
  border-left: 1px solid #f3a399;
  border-right: 1px solid #f3a399;
  width: 2px;
  float: left;
  height: 100%;
  margin-left: 40px;
}

.each-holder{
	display: flex;

}

h4 {
  padding-left: 10%;
}

.new {
  color: green;
}

.form-input {
  border-bottom: 1px dotted black;
}
