@keyframes fadein {
  from {
    opacity: 0%;
    scale: 0;
  }
  to {
    opacity: 100%;
    scale: 1;
  }
}


.companies-block {
  height: 100%vh;
}

.each-company:hover {
  height: 100px;
  transition: all 2s ease 1s;
}

.each-company {
  display: flex;
  justify-content: space-around;
}

.applied-true {
  opacity: 15%;
}


#company-info {
  padding: 5%;
}

.company-form > * {
  padding: 5px;
}
