@keyframes fadein {
  from {
    opacity: 0%;
    scale: 0;
  }
  to {
    opacity: 100%;
    scale: 1;
  }
}


.companies-block {
  height: 100%vh;
}


.each-company {
  display: flex;
  justify-content: space-between;
  padding-right: 5%;
}

.applied-false {
  color: rgb(255, 123, 0);

}


#company-info {
  padding: 5%;
}

.company-form > * {
  padding: 5px;
}

