@keyframes fadein {
  from {
    opacity: 0%;
    scale: 0;
  }
  to {
    opacity: 100%;
    scale: 1;
  }
}

.form-body {
    grid-area: info;
    text-decoration:none;
    color:#000;
    background-color:#ffc;
    display:block;
    height:20em;
    width:20em;
    padding-right:1em;
    padding-left:1em;
    margin-left: 3em;
    margin-top: 3em;
    margin-right: 1em;
    font-weight: 900;
    font-size: 20px;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
	  transform:rotate(4deg);
    position:relative;
    top:5px;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    transition: transform .15s linear;
    animation-duration: 1s;
    animation-name: fadein;
    font-family: 'Architects Daughter', cursive;
}

.form-body > * {
  background: transparent;
  border: none;
  display: flex;
}
.form-body > .autocomplete {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-right: 10%;
}
.autocomplete > input {
  background: transparent;
  border: none;
  border-bottom: 1px dotted gray;
}

.form-body > .close-button {
  margin-left: 95%;
  margin-bottom: 1%;
  margin-top: 5px;
}
.form-body > button {
  border: 2px solid black;
  margin-left: 77%;
}
.form-body > .view-false, .view-null {
  visibility: hidden;
}

.form-body > label {
  font-size: 15px;
}

.autocomplete {
  position: relative;
  display: inline-block
}
