
.navbar-block{
  display: flex;
  justify-content: space-between;
}

.navbar-block > * > a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  margin: 20px;
}

.navbar-block > * > button {
  background: transparent;
  font-size: 30px;
  color: white;
  border: none;
  padding: none;
}
