
.navbar-block{
  display: flex;
  justify-content: space-between;
}


.navbar-block > button {
  background: transparent;
  font-size: 30px;
  color: white;
  border: none;
  padding: none;
  margin-right: 5%;
  position: fixed;
  right: 25px;
}


.username {
  text-decoration: none;
  font-size: 30px;
  color: white;
  border: none;
  padding-left: 15px;
  position: fixed;
}
